In [1]:
from source.regency import Regency
from source.mapping import Mapping
from source.DQNAgent import DQNAgent
from IPython.display import clear_output
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Using TensorFlow backend.

In [2]:
%matplotlib notebook

In [3]:
seasons = 1
Game = Regency(True)
clear_output()
Game.add_relationship('Go','Fh',At_War=1)

for a in range(seasons):
    Game.random_events()
    Game.collect_regency_points()
    Game.domain_initiative()
    Game.collect_gold_bars()
    Game.maintenance_costs(Update=True)

WARNING:tensorflow:From C:\Users\darin\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [4]:
Game.Troops

  Regent   Provence             Type Cost   CR Garrisoned Home Injury
0     GG  Rivenrock     Dwarf Guards    2  2.0          0           0
1     GG  Rivenrock  Dwarf Crossbows    2  2.0          0           0
2     GG  Rivenrock     Dwarf Guards    2  2.0          0           0
3     GG  Rivenrock  Dwarf Crossbows    2  2.0          0           0
4     GG  Rivenrock     Dwarf Guards    2  2.0          0           0
5     GG  Rivenrock  Dwarf Crossbows    2  2.0          0           0
6     GG  Rivenrock     Dwarf Guards    2  2.0          0           0
7     GG  Rivenrock  Dwarf Crossbows    2  2.0          0           0

In [5]:
Game.set_override('GG', 3, capital='Rivenrock')
Game.take_domain_actions()

3 EC 0 0 - Action 1 - Initiative 20
41 EC 0 1 0 1
3 Ch 0
41 TBM 0 1 0 0
3 GG 1 0 - Action 1 - Initiative 10
Time to Finish the Rounditiative  3
0

In [6]:
Game.set_override('GG', 3, capital='Rivenrock')
Game.take_domain_actions()

3 WM 0 0 - Action 2 - Initiative 21
41 WM 0 1 0 0
3 WM 0
3 JR 0 0 - Action 2 - Initiative 10
41 JR 0 1 0 1
3 GG 1
3 Is 1 0 - Action 2 - Initiative  8
Time to Finish the Rounditiative  3
1

In [7]:
Game.set_override('GG', 3, capital='Rivenrock')
Game.take_domain_actions()

41 EC 0 1 0 1tion 3 - Initiative 20
3 GG 1 0 - Action 3 - Initiative 10
3 Is 1 0 - Action 3 - Initiative  8
Time to Finish the Rounditiative  3
2
Empty DataFrame
Columns: [Regent, Project Type, Details, Gold Bars Left]
Index: []
Empty DataFrame
Columns: [Regent, Project Type, Details, Gold Bars Left]
Index: []

In [8]:
for i in range(Game.War.shape[0]):
    print('-'*20)
    print(Game.War['Year'].values[i])
    print()
    print(Game.War['Notes'].values[i])

In [9]:
Game.Troops

  Regent   Provence             Type Cost   CR  Garrisoned Home Injury
2     GG  Rivenrock  Dwarf Crossbows    2  2.0           0           0
3     GG  Rivenrock     Dwarf Guards    2  2.0           0           0
4     GG  Rivenrock  Dwarf Crossbows    2  2.0           0           0
5     GG  Rivenrock     Dwarf Guards    2  2.0           0           0
6     GG  Rivenrock  Dwarf Crossbows    2  2.0           0           0

In [10]:
Game.Navy

,Regent,Provence,Ship,Hull,Troop Capacity,Seaworthiness,Name
0,JR,Gulfport,Galleon,4,3.0,15,The Golden Marlin
0,JR,Gulfport,Caravel,2,1.0,16,The Oceans' Flight
0,JR,Gulfport,Caravel,2,1.0,16,Sarimiere's Prize
0,EC,Ruorven,Caravel,2,1.0,16,Darkssails
0,JR,Gulfport,Coaster,1,0.5,15,Deismir's Flower
0,JR,Gulfport,Galleon,4,3.0,15,The Sailer's Eyes
0,JR,Gulfport,Caravel,2,1.0,16,The Lost Song
0,JR,Gulfport,Caravel,2,1.0,16,Whiteghost
0,EC,Ruorven,Caravel,2,1.0,16,Ruorven's Head
0,JR,Gulfport,Coaster,1,0.5,15,The Seasatisfaction
0,JR,Gulfport,Galleon,4,3.0,15,Blackblade
0,JR,Gulfport,Caravel,2,1.0,16,Deathscurse
0,JR,Gulfport,Caravel,2,1.0,16,The Sealove
0,EC,Ruorven,Caravel,2,1.0,16,The Ruddy Gull

In [11]:
# maps = Mapping(Game)
# maps.focus_regions(['The Eastern Marches'])
# maps.show(show_abbreviations=True, show_troops=True, borders=True)

In [12]:
Game.Projects

Empty DataFrame
Columns: [Regent, Project Type, Details, Gold Bars Left]
Index: []

In [13]:
Game.Geography[Game.Geography['Provence']=='Rivenrock']

      Provence        Neighbor  Border  Road  Caravan  Shipping  RiverChasm
67   Rivenrock  Bran's Retreat       1     0        0         0           0
70   Rivenrock  The Promontory       1     0        0         0           0
72   Rivenrock  Land's Victory       1     0        0         0           0
78   Rivenrock         Ruorven       0     0        1         0           0
80   Rivenrock      Fhylallien       0     0        1         0           0
125  Rivenrock     Cu Haellyrd       1     0        0         0           0
147  Rivenrock          Iseare       1     0        0         0           0

In [14]:
Game.Geography[Game.Geography['Road']==1]

Empty DataFrame
Columns: [Provence, Neighbor, Border, Road, Caravan, Shipping, RiverChasm]
Index: []

In [15]:
df = pd.concat([Game.Seasons[b]['Actions'][a+1] for a in range(3) for b in range(seasons)])
print(set(df['Action']))
print()
print(set(df[df['Success?']==True]['Action']))
#Game.War

{'espionage_assassination', 'grant', 'investure_invest_friend', 'diplomacy_respond_to_brigandage', 'declare_war', 'diplomacy_trade_agreement', 'rule_high_pop', 'espionage_intrigue', 'diplomacy_form_alliance', 'adventuring', 'agitiate_for_friend', 'disband_army', 'realm_magic_alchemy', 'investure_divest_enemy', 'muster_levies', 'create_holding', 'diplomacy_troop_permission', 'contest_holding', 'realm_magic_demagogue_friend'}

{'diplomacy_trade_agreement', 'diplomacy_troop_permission', 'contest_holding', 'diplomacy_form_alliance', 'disband_army', 'grant', 'investure_invest_friend', 'realm_magic_alchemy', 'declare_war', 'adventuring', 'muster_levies', 'create_holding', 'agitiate_for_friend'}

In [16]:
df[df['Action'].str.contains('decree')]['Message'].values

array([], dtype=object)

In [17]:
import numpy as np

np.random.randint(1,6,1)[0]

3

In [18]:
df[df['Action'].str.contains('disband')]['Message'].values

array(['Overthane Grimm Graybeard disbanded a unit of Dwarf Guards stationed in Rivenrock',
       'Overthane Grimm Graybeard disbanded a unit of Dwarf Crossbows stationed in Rivenrock',
       'Emerald Queen Isaelie disbanded a unit of Levies stationed in Annydwr',
       'Overthane Grimm Graybeard disbanded a unit of Dwarf Guards stationed in Rivenrock',
       'Emerald Queen Isaelie disbanded a unit of Levies stationed in Annydwr'],
      dtype=object)