In [ ]:
from source.regency import Regency
from source.mapping import Mapping
from source.DQNAgent import DQNAgent
from IPython.display import clear_output
import pandas as pd
import warnings
warnings.filterwarnings('ignore')


seasons = 1
Game = Regency(True)
clear_output()
Game.add_relationship('WM','JR', At_War=1)
for a in range(seasons):
    print(a)
    Game.random_events()
    Game.collect_regency_points()
    Game.domain_initiative()
    Game.collect_gold_bars()
    Game.maintenance_costs(Update=True)
    Game.add_troops('WM', 'Moergen', 'Irregulars')
    Game.Seasons[Game.Season]['Season']
    Game.take_domain_actions()
    Game.war_move()
    Game.clean_up()
    Game.clear_screen()

df = pd.concat([Game.Seasons[b]['Actions'][a+1] for a in range(3) for b in range(seasons)])
print(set(df['Action']))
print()
print(set(df[df['Success?']==True]['Action']))
Game.War

0

In [ ]:
%matplotlib notebook

In [ ]:
Game.Espionage

In [ ]:
dff = Game.failed_actions
dff.head()

In [ ]:
Game.Projects

In [ ]:
df[df['Action'].str.contains('assass')]

In [ ]:
Game.Seasons[Game.Season]['Season']

In [ ]:
Game.Regents[Game.Regents['Alive']==False]

In [ ]:
df[df["Action"].str.contains('move')]

In [10]:
Game.errors

[]

In [11]:
self.Troops[self.Troops['Regent']=='WM']

   Regent Provence        Type Cost   CR  Garrisoned Home Injury
41     WM  Moregen  Irregulars    1  0.5           0           0
42     WM  Moergen  Irregulars    1  0.5           0           0

In [12]:
self.Provences[self.Provences['Regent']=='JR']

,Provence,Domain,Region,Regent,Terrain,Loyalty,Taxation,Population,Magic,Castle,Castle Name,Capital,Position,Contested,Waterway,Brigands
7,Algael,Osoerde,The Eastern Marches,JR,Swamp,Average,Moderate,2,3,0,,False,"[1355, 2226]",False,False,False
8,Brothendar,Osoerde,The Eastern Marches,JR,Plains,Average,Moderate,3,2,0,,False,"[1377, 2177]",False,True,False
9,Ghalliere,Osoerde,The Eastern Marches,JR,Plains,Average,Moderate,2,3,0,,False,"[1394, 2110]",False,False,False
10,Gulfport,Osoerde,The Eastern Marches,JR,Plains,Average,Moderate,3,2,0,,False,"[1515, 2154]",False,True,False
11,Moergen,Osoerde,The Eastern Marches,JR,Plains,Poor,Moderate,2,3,0,,False,"[1471, 2067]",False,True,False
13,Spiritsend,Osoerde,The Eastern Marches,JR,Swamp,Average,Moderate,2,6,0,,False,"[1466, 2231]",False,True,False
14,Sunken Lands,Osoerde,The Eastern Marches,JR,Swamp,Rebellious,Moderate,2,6,0,,False,"[1541, 2085]",False,True,False

In [14]:
self.get_travel_cost('WM', 'Moergen', 'Morial')

('Desert', '2')
('Tundra', '2')
('Mountains', '4')
('Mountain', '4')
('Glacier', '4')
('Forest', '2')
('Hills', '2')
('Plains', '2')
('Farmland', '2')
('Steppes', '2')
('Swamp', '3')
('Marsh', '3')

NodeNotFound: Source Moergen not in G

In [15]:
Regent = 'WM'

valid = pd.concat([self.Relationships[self.Relationships['Regent'] == Regent], self.Relationships[self.Relationships['Other']==Regent]], sort=False)
valid = pd.concat([valid[valid['Vassalage']>0], valid[valid['At War']>0], valid[valid['Diplomacy']>2]])
valid['War'] = 1*(valid['At War'] > 0)
valid_ = valid.copy()
valid_['Regent'] = valid['Other']
valid = pd.concat([valid[['Regent', 'War']], valid_[['Regent', 'War']]]).groupby('Regent').max().reset_index()

valid

  Regent  War
0     LS    0
1    Sw2    0
2     WM    0

In [16]:
temp = pd.merge(valid, self.Provences.copy(), on='Regent', how='left').fillna(0)
temp = temp[temp['Provence'] != 0]

temp

,Regent,War,Provence,Domain,Region,Terrain,Loyalty,Taxation,Population,Magic,Castle,Castle Name,Capital,Position,Contested,Waterway,Brigands
0,LS,0,Banien's Deep,Aerenwe,The Southern Coast,Forest,Average,Moderate,1.0,6.0,0.0,,False,"[1430, 2425]",False,True,False
1,LS,0,Calrie,Aerenwe,The Southern Coast,Plains,High,Moderate,6.0,0.0,6.0,Caer Callin,True,"[1395, 2300]",False,True,False
2,LS,0,Dhoneel,Aerenwe,The Southern Coast,Plains,High,Moderate,5.0,0.0,0.0,,False,"[1295, 2300]",False,True,False
3,LS,0,Halried,Aerenwe,The Southern Coast,Plains,High,Moderate,5.0,0.0,0.0,,False,"[1280, 2360]",False,False,False
4,LS,0,Northvale,Aerenwe,The Southern Coast,Forest,Average,Moderate,1.0,6.0,0.0,,False,"[1465, 2320]",False,True,False
5,LS,0,Shadowgreen,Aerenwe,The Southern Coast,Forest,Average,Moderate,1.0,6.0,0.0,,False,"[1360, 2470]",False,True,False
6,LS,0,Westmarch,Aerenwe,The Southern Coast,Forest,Average,Moderate,1.0,6.0,0.0,,False,"[1260, 2440]",False,True,False
8,WM,0,Moriel,Osoerde,The Eastern Marches,Plains,Rebellious,0,4.0,1.0,0.0,,True,"[1448, 2138]",True,False,False

In [17]:
temp = self.Troops[self.Troops['Regent']==Regent]
temp

   Regent Provence        Type Cost   CR  Garrisoned Home Injury
41     WM  Moregen  Irregulars    1  0.5           0           0
42     WM  Moergen  Irregulars    1  0.5           0           0

In [26]:
self.Relationships[self.Relationships['Regent'] == 'WM']

   Regent Other Diplomacy Payment Vassalage At War Trade Permission
4      WM    JR        -4       4         0      0                0
63     WM    LS         1       0         3      0                0

In [25]:
Game.add_relationship('WM','JR',At_ War=1)

SyntaxError: invalid syntax (<ipython-input-25-25339e022ddc>, line 1)